.StackTraceView {
  padding: 0.25rem;
}

<<<<<<< ours
.CallSite, .IgnoredCallSite {
  display: block;
=======
.CallSite, .BuiltInCallSite {
  display: flex;
>>>>>>> theirs
  padding-left: 1rem;
  white-space-collapse: preserve;
}

.IgnoredCallSite {
  opacity: 0.5;
}

.Link {
  color: var(--color-link);
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 0.125rem;
}

.Link:hover {
  background-color: var(--color-background-hover);
}

.ElementBadges {
  margin-left: 0.25rem;
}

